<div *ngFor="let animal of animals">
    <div>{{animal._id}}</div>
    <div>{{animal.name}}</div>
    <div>{{animal.login}}</div>
    <div>{{animal.divassword}}</div>

    <div>id:<input type="text" #id="ngModel" [(ngModel)]="animal._id"></div>
    <div>name:<input type="text" #name="ngModel" [(ngModel)]="animal.name"></div>
    <div>login:<input type="text" #login="ngModel" [(ngModel)]="animal.login"></div>
    <div>password:<input type="text" #password="ngModel" [(ngModel)]="animal.password"></div>

    <button (click)="update(id.value, name.value, login.value, password.value)">update</button>
    <button (click)="add(id.value, name.value, login.value, password.value)">addNew</button>
    <button (click)="delete(id.value)">delete</button>
</div>