  <form>
    <div class="text text-danger">{{error}}</div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" #email class="form-control form-control-danger" placeholder="Email" required autofocus>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" #password id="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="checkUser(email.value, password.value)">Sign in</button>
          <a [routerLink]="['/addUser']" class="btn btn-lg btn-primary btn-block">Registration</a>
      </div>
    </form>  