<img *ngIf="preloader" class="custom_size" src="../assets/preloader.gif">
<form *ngIf="!preloader">
    <div class="form-group">
      <label>Name of animal:
          <span *ngIf="!allow" class="badge badge-danger">Name error</span>
      <input type="text" #name id="name" class="form-control col-12" placeholder="Name" required autofocus>
    </label>
    </div>
    <div class="form-group col-xl-6 col-sm-8">  
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="addAnimal(name.value)">Add animal</button>
    </div>
</form>