<div class="col-12">
        <button class="btn btn-lg btn-danger float-left" (click)="back()"> &lt;  </button>
        <button class="btn btn-lg btn-danger float-right" (click)="logout()">Log out</button>
</div>
<div class="clearfix mb-2"></div>
<router-outlet></router-outlet>
<!-- <div class="clearfix mb-2"></div>
<div class="col-12">
        </div>
        <app-list></app-list>
        <hr>
        <div class="col-xl-6 col-sm-10"><a [routerLink]="['/addAnimal']" class="btn btn-lg btn-primary btn-block"> Add animal</a></div> -->

<!-- <app-animal></app-animal> -->

