<input type="text"  class="form-control mb-3" #myInput placeholder="Search..." >

<!-- <ul *ngFor="let animal of animals | search:search" class="list-group"> -->
<img *ngIf="preloader" class="custom_size" src="../assets/preloader.gif">

<div *ngIf="!preloader">
    <ul *ngFor="let animal of animals" class="list-group">
        <div class="list-group-item">
            <a class="mt-4" [routerLink]="['/system', 'animal', animal._id]">
              {{animal.name}}
            </a>
            <button type="button" class="btn btn-danger float-right" (click)="delete(animal._id)">Delete</button>
        </div>
      </ul>
</div>
<div *ngIf="show">
  <span class="text-danger">You have no animals</span>
</div>
    
<hr>
<div class="col-xl-6 col-sm-10">
  <a [routerLink]="['/system', 'addAnimal']" class="btn btn-lg btn-primary btn-block">Add animal</a>
</div>


