<input type="text" class="form-control mb-3" [(ngModel)]="search" placeholder="Search...">

<ul *ngFor="let animal of animals | search:search" class="list-group">
  <div class="list-group-item">
      <a class="mt-4" [routerLink]="['/animal', animal._id]">
        {{animal.name}}
      </a>
      <button type="button" class="btn btn-danger float-right" (click)="delete(animal._id)">Delete</button>
  </div>
</ul>
<div *ngIf="show">
  <span class="text-danger">You have no animals</span>
</div>
<div>
    <img *ngIf="preloader" class="custom_size" src="../assets/preloader.gif">
</div>


